
@media screen  and (min-width:1500px) and (max-width:1700px){
    /* CSS样式 */
    
    html {
        font-size: 16px;
    }
} 
@media screen  and (min-width:1200px) and (max-width:1500px){
    /* CSS样式 */
    
    html {
        font-size: 15px;
    }
} 
@media screen  and (min-width:1000px) and (max-width:1200px){
    /* CSS样式 */
    
    html {
        font-size: 14px;
    }
} 

/* 电脑 */
@media screen  and (min-width:500px)  and (max-width:1920px) { 
    #list {
        width: 80%;
    }
    th {
        font-size: 1.25rem;
    }
}
/* 手机 */
@media screen  and (min-width:200px)  and (max-width:500px) {
    /* CSS样式 */
    
    html {
        font-size: 16px;
    }
    #list {
        width: 100%;
    }
} 

table{
    text-align: center;
}
th {
background-color:#96C7ED;
color:#000000
}

td, td {
font-size:0.95em;
text-align:center;
padding:.25rem;
border-collapse:collapse;

border: 1px solid #73b4e7;
border-width:1px 0 1px 0;
border:2px inset #ffffff;
}

tr {
border: 1px solid #ffffff;
}

tr:nth-child(odd){
background-color:#dcecf9;
}

tr:nth-child(even){
background-color:#ffffff;
}