

@media screen  and (min-width:1500px) and (max-width:1700px){
    /* CSS样式 */
    
    html {
        font-size: 16px;
    }
} 
@media screen  and (min-width:1200px) and (max-width:1500px){
    /* CSS样式 */
    
    html {
        font-size: 15px;
    }
} 
@media screen  and (min-width:1000px) and (max-width:1200px){
    /* CSS样式 */
    
    html {
        font-size: 14px;
    }
} 

/* PC */
@media screen  and (min-width:500px)  and (max-width:1920px) { 
    
}
/* phone */
@media screen  and (min-width:200px)  and (max-width:500px) {
    /* CSS样式 */
    
} 


