@media screen and (min-width: 1500px) and (max-width: 1700px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1500px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

/* PC */
@media screen and (min-width: 500px) and (max-width: 1920px) {
  .my {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18rem;
    border-radius: 1rem;
    min-height: 12.5rem;
  }
  .my p {
    width: 100%;
  }
}
/* phone */
@media screen and (min-width: 200px) and (max-width: 500px) {
  html {
    font-size: 16px;
  }

  .my {
    margin-top: 12.5rem;
    border-radius: 1rem;
  }
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

  -moz-background-size: 100% 100%;
}
body {
  align-items: center;
  justify-content: center;
  height: 100%;
}
input {
  border: none;
  border-bottom: 1px solid rgb(10, 10, 10);
  width: 18.75rem;
}
p {
  text-align: center;
  color: rgb(116, 113, 113);
}
.my {
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: aliceblue;
  box-shadow: 0.4375rem 0.4375rem 1.0625rem rgba(52, 56, 66, 0.5);
}

input::-ms-input-placeholder {
  text-align: center;
}
input::-webkit-input-placeholder {
  text-align: center;
}
